<div class="container">
  <div class="row bg-warning text-white">
    <div class="col-md-2 bg-white"></div>
    <div class="col-md-7 justify-content-center text-center font-weight-bold">
      <span id="currentMonth" class="text-center text-uppercase"
        >{{ calendar.date.currentMonth | date: "MMMM" }}</span
      >
      -
      <span id="currentYear"
        >{{ calendar.date.currentMonth | date: "yyyy" }}</span
      >
    </div>
    <div class="col-md-3 bg-white"></div>
  </div>
  <div class="row">
    <div class="col-md-2 bg-white"></div>
    <div class="col-md-1 border bg-dark text-white">Sun</div>
    <div class="col-md-1 border bg-dark text-white">Mon</div>
    <div class="col-md-1 border bg-dark text-white">Tue</div>
    <div class="col-md-1 border bg-dark text-white">Wed</div>
    <div class="col-md-1 border bg-dark text-white">Thu</div>
    <div class="col-md-1 border bg-dark text-white">Fri</div>
    <div class="col-md-1 border bg-dark text-white">Sat</div>
    <div class="col-md-3 bg-white"></div>
  </div>
  <div id="days" class="row">
    <div class="col-md-2 bg-white"></div>

    <div
      *ngFor="let d of start; let index = index"
      [ngClass]="applyClasses(d)"
    ></div>
    <ng-container *ngFor="let date of dates; let index = index">
      <div [ngClass]="applyDateClasses(date)">
        {{ date }}
      </div>
      <ng-container *ngIf="getDay != 0 && date != 1; else elseBlock">
        <ng-container *ngIf="(getDay + date) % 7 == 0">
          <div class="col-md-3"></div>
          <div class="col-md-2"></div>
        </ng-container>
      </ng-container>
      <ng-template #elseBlock>
        <ng-container *ngIf="(getDay + date) % 7 == 0">
          <div class="col-md-3"></div>
          <div class="col-md-2"></div>
        </ng-container>
      </ng-template>
    </ng-container>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <!-- <div class="col-md-12">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header">
            <i
              id="questionSpeaker"
              ngClass="fa fa-volume-up fa-3x"
              style="color: tomato;"
              (click)="speak()"
            ></i>
          </div>
          <div class="card-body">
            <h4 id="question" class="card-title">{{ calendar.question }}</h4>
          </div>
  
          <div class="card-footer">
            <small class="card-text">Tap the right answer below</small>
          </div>
        </div>
      </div> -->
      <app-question-bar [question]="question"></app-question-bar>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let answer of Answers">
      <!-- <div
          [appValidateResponse]="correctAnswer"
          [selectedOption]="1"
          class="Answer card text-white bg-warning mb-3"
          style="max-width: 18rem;"
        >
          <div class="card-header container answer1-header">
            <h5>
              A
              <small class="float-md-right">
                <i
                  id="up"
                  class="invisible fa fa-lg"
                  style="color: whitesmoke;"
                ></i>
              </small>
            </h5>
          </div>
          <div class="card-body">
            <h5 class="Answer1 card-text">{{ calendar.Answer1 }}</h5>
          </div>
        </div> -->
      <app-answer-tile [Answer]="answer"></app-answer-tile>
    </div>
    <!-- <div class="col-md-3">
        <div
          [appValidateResponse]="correctAnswer"
          [selectedOption]="2"
          class="Answer card text-white bg-warning mb-3"
          style="max-width: 18rem;"
        >
          <div class="answer2-header card-header">
            <h5>
              B
              <small class="float-md-right">
                <i
                  id="up"
                  ngClass="invisible fa fa-lg"
                  style="color: whitesmoke;"
                ></i>
              </small>
            </h5>
          </div>
          <div class="card-body">
            <h5 class="Answer2 card-text">
              {{ calendar.Answer2 }}
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div
          [appValidateResponse]="correctAnswer"
          [selectedOption]="3"
          class="Answer card text-white bg-warning mb-3"
          style="max-width: 18rem;"
        >
          <div class="answer3-header card-header">
            <h5>
              C
              <small class="float-md-right">
                <i
                  id="up"
                  ngClass="invisible fa fa-lg"
                  style="color: whitesmoke;"
                ></i>
              </small>
            </h5>
          </div>
          <div class="card-body">
            <h5 class="Answer3 card-text">{{ calendar.Answer3 }}</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3"> -->
    <!-- <div
          [appValidateResponse]="correctAnswer"
          [selectedOption]="4"
          class="Answer card text-white bg-warning mb-3"
          style="max-width: 18rem;"
        >
          <div class="answer4-header card-header">
            <h5>
              D
              <small class="float-md-right">
                <i
                  id="up"
                  ngClass="invisible fa fa-lg"
                  style="color: whitesmoke;"
                ></i>
              </small>
            </h5>
          </div>
          <div class="card-body">
            <h5 class="Answer4 card-text">{{ calendar.Answer4 }}</h5>
          </div>
        </div> 
      </div>-->
  </div>
</div>
